In [54]:
#Question 1: Create a list with elements of A and B in a single dimension
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [55]:
#Question 2: create an identity matrix
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [57]:
import pandas as pd
fuel_df = pd.read_csv("fuel_ferc1.csv")
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [60]:
#Question 3: Which of the following fuel type code has the lowest average fuel cost per unit burned
fuel_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
#Ans: gas

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [61]:
#Question 4: What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
round(fuel_df['fuel_mmbtu_per_unit'].describe(),2)
#Ans: 10.60 and 17.01

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [65]:
#Question 5: What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
skew = round(fuel_df['fuel_qty_burned'].skew(),2)
kurt = round(fuel_df["fuel_qty_burned"].kurt(),2)
print(skew)
print(kurt)
#Ans: 15.85 and 651.37

15.85
651.37

In [71]:
#Question 6: Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?
missing_total_row = fuel_df.isnull().sum()
print(missing_total_row)
percent_missing_total_row = (180/29523) * 100
print(round(percent_missing_total_row,3))

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64
0.61

In [72]:
#Question 8: Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
fuel_df.corr()
#Ans: fuel_qty_burned and fuel_mmbtu_per_unit

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [81]:
fuel_df.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum()

fuel_type_code_pudl  report_year
coal                 1994            14984.572
                     1995            14571.785
                     1996            12694.803
                     1997            43742.178
                     1998            11902.597
                     1999            16303.468
                     2000           100428.831
                     2001            15109.012
                     2002             9171.164
                     2003            30954.110
                     2004             9632.063
                     2005            11107.182
                     2006            12402.684
                     2007            12965.171
                     2008            14331.348
                     2009            45554.858
                     2010            88627.745
                     2011            17001.015
                     2012            17546.097
                     2013            17629.860
                     2014            15412.197
                     2015            13338.235
                     2016            11100.925
                     2017            10254.284
                     2018             9488.197
gas                  1994            10792.496
                     1995             9087.905
                     1996             1467.390
                     1997             1518.471
                     1998             7475.596
                                       ...
other                2012              224.123
                     2013              182.494
                     2014                0.661
                     2015                0.595
                     2016                0.609
waste                1994               52.762
                     1995             -192.699
                     1996               88.092
                     1997              137.433
                     1998              238.109
                     1999              143.025
                     2000             -489.141
                     2001              217.499
                     2002              254.438
                     2003              161.973
                     2004              272.512
                     2005              313.457
                     2006              423.847
                     2007              427.014
                     2008              474.022
                     2009              739.884
                     2010              755.157
                     2011              517.912
                     2012              589.791
                     2013              609.411
                     2014              591.594
                     2015              629.270
                     2016              539.079
                     2017              452.079
                     2018              660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [88]:
#Question 9: For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

round((11902.597-14984.572)/14984.572, 2)

-0.21

In [90]:
#Question 10: Which year has the highest average fuel cost per unit delivered?
fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
#Ans: 1997

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [92]:
type(fuel_df)

pandas.core.frame.DataFrame